@tailwind base;
@tailwind components;
@tailwind utilities;


 .custom-scrollbar::-webkit-scrollbar {
     width: 10px;
     height: 20px;
 }

.custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #2b2b2b;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #6b6b6b;
    border-radius: 100vh;
    border: 3px solid #2b2b2b;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3b3b3b;
}
